body {
    background-color: black;
    font-family: var(--font-dm-sans);
}
header {color: white;
    font-family: var(--font-dm-sans);
}
main {color: white;
    font-family: var(--font-dm-sans);
}
footer {color: white;
    font-family: var(--font-dm-sans);
}
.Retrato {
    position: fixed;
    top: 10px;
    left: 13px;
    background-color: #121212;
    border-radius: 10px;
    padding: 16px;
}
.navegação {
    position: fixed;
    top: 390px;
    left: 13px;
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
    width: 250px;

}
.navegação li {
    padding: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
.navegação a
{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;

}.nome {
    background-color: #121212;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 300px;
    font-weight: 600;
    font-size: 24px;
    padding: 16px;
}
.introdução {
    background-color: #121212;
    border-radius: 10px;
    position: fixed;
    top: 80px;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 16px 0 16px;
    left: 300px;
    bottom: 465px;
    }
.apresentação {
    background-color: #121212;
    border-radius: 10px;
    position: fixed;
    top: 160px;
    left: 300px;
    right: 10px;
    padding: 16px 0 0 16px;
    bottom: 320px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
