body {background-color: black;}
header {color: white;}
main {color: white;}
footer {color: white;}
.Retrato {
    position: fixed;
    top: 10px;
    left: 13px;
    bottom: 220px;
    padding: 10px;
    width: 263px;
    background-color: #121212;
    border-radius: 10px;
    padding: 16px 0 0 16px;
}
.navegação {
    position: fixed;
    top: 390px;
    left: 13px;
    bottom: 120px;
    width: 260px;
    background-color: #121212;
    border-radius: 8px;
    padding: 25px 0 0 20px;    
}
.navegação nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
.nome {
    background-color: #121212;
    border-radius: 10px;
    bottom: 540px;
    position: fixed;
    top: 10px;
    left: 300px;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    width: 130px;
    padding: 16px 0 0 16px;
}
.introdução {
    background-color: #121212;
    border-radius: 10px;
    position: fixed;
    top: 80px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 16px 0 16px;
    left: 300px;
    bottom: 465px;
    }
.apresentação {
    background-color: #121212;
    border-radius: 10px;
    position: fixed;
    top: 160px;
    left: 300px;
    right: 10px;
    padding: 16px 0 0 16px;
    bottom: 320px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
